In [3]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [4]:
res = req.get('https://finance.naver.com/sise/')
soup = bs(res.content, 'html.parser')
data = soup.select('.lst_major > li')
data
for i in range(len(data)):
    print(data[i].text)

다우산업33,402.38하락
 나스닥12,126.33하락
 홍콩H6,875.47하락
 상해종합3,312.56상승
 니케이22527,927.48하락

In [5]:
#현재지수:
for i in data:
    print('지수이름 : ',i.select_one('a').text,'  현재지수 : ',
          i.select_one('span').text, i.select_one('.blind').text)

지수이름 :  다우산업   현재지수 :  33,402.38 하락
지수이름 :   나스닥   현재지수 :  12,126.33 하락
지수이름 :   홍콩H   현재지수 :  6,875.47 하락
지수이름 :   상해종합   현재지수 :  3,312.56 상승
지수이름 :   니케이225   현재지수 :  27,927.48 하락

In [6]:
res = req.get('https://ko.wikisource.org/wiki/%EC%A0%80%EC%9E%90:%EC%9C%A4%EB%8F%99%EC%A3%BC')
soup = bs(res.content, 'html.parser')
data = soup.select('div.mw-parser-output > ul > li a')
data1 = [i.text for i in data]
print(data1)
len(data1)
df = pd.DataFrame(data1,columns=['작품'])
df.head()
df.to_csv('work_list2.csv',index=False, encoding='utf-8')

['하늘과 바람과 별과 시', '증보판', '서시', '자화상', '소년', '눈 오는 지도', '돌아와 보는 밤', '병원', '새로운 길', '간판 없는 거리', '태초의 아침', '또 태초의 아침', '새벽이 올 때까지', '무서운 시간', '십자가', '바람이 불어', '슬픈 족속', '눈감고 간다', '또 다른 고향', '길', '별 헤는 밤', '흰 그림자', '사랑스런 추억', '흐르는 거리', '쉽게 씌어진 시', '봄', '참회록', '간(肝)', '위로', '팔복', '못자는밤', '달같이', '고추밭', '아우의 인상화', '사랑의 전당', '이적', '비오는 밤', '산골물', '유언', '창', '바다', '비로봉', '산협의 오후', '명상', '소낙비', '한난계', '풍경', '달밤', '장', '밤', '황혼이 바다가 되어', '아침', '빨래', '꿈은 깨어지고', '산림', '이런날', '산상', '양지쪽', '닭', '가슴 1', '가슴 2', '비둘기', '황혼', '남쪽 하늘', '창공', '거리에서', '삶과 죽음', '초한대', '산울림', '해바라기 얼굴', '귀뚜라미와 나와', '애기의 새벽', '햇빛·바람', '반디불', '둘 다', '거짓부리', '눈', '참새', '버선본', '편지', '봄', '무얼 먹구 사나', '굴뚝', '햇비', '빗자루', '기왓장 내외', '오줌싸개 지도', '병아리', '조개껍질', '겨울', '트루게네프의 언덕', '달을 쏘다', '별똥 떨어진 데', '화원에 꽃이 핀다', '종시']

In [7]:
work = pd.read_csv('work_list2.csv')
work

              작품
0   하늘과 바람과 별과 시
1            증보판
2             서시
3            자화상
4             소년
..           ...
90     트루게네프의 언덕
91         달을 쏘다
92      별똥 떨어진 데
93     화원에 꽃이 핀다
94            종시

[95 rows x 1 columns]

In [8]:
url = 'https://finance.naver.com/'
url2 = 'marketindex/'
page = url + url2
res =req.get(page)
soup = bs(res.content,'html.parser')
frameSrc = soup.find('iframe',id='frame_ex1')
a = url+frameSrc.attrs['src']
print(a)
res1 = req.get(a)
soup = bs(res1.content, 'html.parser')
data1 = soup.select('.tit')
data2 = soup.select('.sale')
aa = [i.text.strip() for i in data1]
bb = [i.text.strip() for i in data2]
cc = [i for i in range(1,59)]
print(aa)
print(bb)
print(cc)
# for i in range(len(data1)):
#     print('통화명 :', data1[i].text.strip(),'\t','매매기준율 : ',data2[i].text.strip())

https://finance.naver.com//marketindex/exchangeList.naver
['미국 USD', '유럽연합 EUR', '일본 JPY (100엔)', '중국 CNY', '홍콩 HKD', '대만 TWD', '영국 GBP', '오만 OMR', '캐나다 CAD', '스위스 CHF', '스웨덴 SEK', '호주 AUD', '뉴질랜드 NZD', '체코 CZK', '칠레 CLP', '튀르키예 TRY', '몽골 MNT', '이스라엘 ILS', '덴마크 DKK', '노르웨이 NOK', '사우디아라비아 SAR', '쿠웨이트 KWD', '바레인 BHD', '아랍에미리트 AED', '요르단 JOD', '이집트 EGP', '태국 THB', '싱가포르 SGD', '말레이시아 MYR', '인도네시아 IDR 100', '카타르 QAR', '카자흐스탄 KZT', '브루나이 BND', '인도 INR', '파키스탄 PKR', '방글라데시 BDT', '필리핀 PHP', '멕시코 MXN', '브라질 BRL', '베트남 VND 100', '남아프리카 공화국 ZAR', '러시아 RUB', '헝가리 HUF', '폴란드 PLN', '스리랑카 LKR', '알제리 DZD', '케냐 KES', '콜롬비아 COP', '탄자니아 TZS', '네팔 NPR', '루마니아 RON', '리비아 LYD', '마카오 MOP', '미얀마 MMK', '에티오피아 ETB', '우즈베키스탄 UZS', '캄보디아 KHR', '피지 FJD']
['1,312.30', '1,438.48', '995.94', '190.90', '167.18', '43.10', '1,640.05', '3,408.39', '976.96', '1,449.09', '127.75', '888.16', '834.03', '61.26', '1.62', '68.22', '0.37', '365.84', '193.06', '127.51', '349.88', '4,281.29', '3,480.62', '357.27', '1,850.00', '42.47', '38.65', '990.15', '298.42', '8.80', '358.80', '2.93', '990.15', '15.98', '4.55', '12.44', '24.10', '72.45', '258.72', '5.59', '73.27', '16.55', '3.81', '307.53', '4.07', '9.68', '9.87', '0.29', '0.56', '9.96', '291.75', '275.16', '162.21', '0.62', '24.12', '0.12', '0.32', '598.41']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58]

In [13]:
fin = {
    '순위' : cc,
    '통화명' : aa,
    '매매기준율': bb
}
df = pd.DataFrame(fin)
df.set_index('순위',inplace=True)
print(df.head())
print(df)
df.to_csv('fin1.csv', index=False, encoding='utf-8')

              통화명     매매기준율
순위
1          미국 USD  1,312.30
2        유럽연합 EUR  1,438.48
3   일본 JPY (100엔)    995.94
4          중국 CNY    190.90
5          홍콩 HKD    167.18
              통화명     매매기준율
순위
1          미국 USD  1,312.30
2        유럽연합 EUR  1,438.48
3   일본 JPY (100엔)    995.94
4          중국 CNY    190.90
5          홍콩 HKD    167.18
6          대만 TWD     43.10
7          영국 GBP  1,640.05
8          오만 OMR  3,408.39
9         캐나다 CAD    976.96
10        스위스 CHF  1,449.09
11        스웨덴 SEK    127.75
12         호주 AUD    888.16
13       뉴질랜드 NZD    834.03
14         체코 CZK     61.26
15         칠레 CLP      1.62
16       튀르키예 TRY     68.22
17         몽골 MNT      0.37
18       이스라엘 ILS    365.84
19        덴마크 DKK    193.06
20       노르웨이 NOK    127.51
21    사우디아라비아 SAR    349.88
22       쿠웨이트 KWD  4,281.29
23        바레인 BHD  3,480.62
24     아랍에미리트 AED    357.27
25        요르단 JOD  1,850.00
26        이집트 EGP     42.47
27         태국 THB     38.65
28       싱가포르 SGD    990.15
29      말레이시아 MYR    298.42
30  인도네시아 IDR 100      8.80
31        카타르 QAR    358.80
32      카자흐스탄 KZT      2.93
33       브루나이 BND    990.15
34         인도 INR     15.98
35       파키스탄 PKR      4.55
36      방글라데시 BDT     12.44
37        필리핀 PHP     24.10
38        멕시코 MXN     72.45
39        브라질 BRL    258.72
40    베트남 VND 100      5.59
41  남아프리카 공화국 ZAR     73.27
42        러시아 RUB     16.55
43        헝가리 HUF      3.81
44        폴란드 PLN    307.53
45       스리랑카 LKR      4.07
46        알제리 DZD      9.68
47         케냐 KES      9.87
48       콜롬비아 COP      0.29
49       탄자니아 TZS      0.56
50         네팔 NPR      9.96
51       루마니아 RON    291.75
52        리비아 LYD    275.16
53        마카오 MOP    162.21
54        미얀마 MMK      0.62
55      에티오피아 ETB     24.12
56     우즈베키스탄 UZS      0.12
57       캄보디아 KHR      0.32
58         피지 FJD    598.41

In [14]:
aa = pd.read_csv('fin1.csv', encoding='utf-8')
print(aa)

              통화명     매매기준율
0          미국 USD  1,312.30
1        유럽연합 EUR  1,438.48
2   일본 JPY (100엔)    995.94
3          중국 CNY    190.90
4          홍콩 HKD    167.18
5          대만 TWD     43.10
6          영국 GBP  1,640.05
7          오만 OMR  3,408.39
8         캐나다 CAD    976.96
9         스위스 CHF  1,449.09
10        스웨덴 SEK    127.75
11         호주 AUD    888.16
12       뉴질랜드 NZD    834.03
13         체코 CZK     61.26
14         칠레 CLP      1.62
15       튀르키예 TRY     68.22
16         몽골 MNT      0.37
17       이스라엘 ILS    365.84
18        덴마크 DKK    193.06
19       노르웨이 NOK    127.51
20    사우디아라비아 SAR    349.88
21       쿠웨이트 KWD  4,281.29
22        바레인 BHD  3,480.62
23     아랍에미리트 AED    357.27
24        요르단 JOD  1,850.00
25        이집트 EGP     42.47
26         태국 THB     38.65
27       싱가포르 SGD    990.15
28      말레이시아 MYR    298.42
29  인도네시아 IDR 100      8.80
30        카타르 QAR    358.80
31      카자흐스탄 KZT      2.93
32       브루나이 BND    990.15
33         인도 INR     15.98
34       파키스탄 PKR      4.55
35      방글라데시 BDT     12.44
36        필리핀 PHP     24.10
37        멕시코 MXN     72.45
38        브라질 BRL    258.72
39    베트남 VND 100      5.59
40  남아프리카 공화국 ZAR     73.27
41        러시아 RUB     16.55
42        헝가리 HUF      3.81
43        폴란드 PLN    307.53
44       스리랑카 LKR      4.07
45        알제리 DZD      9.68
46         케냐 KES      9.87
47       콜롬비아 COP      0.29
48       탄자니아 TZS      0.56
49         네팔 NPR      9.96
50       루마니아 RON    291.75
51        리비아 LYD    275.16
52        마카오 MOP    162.21
53        미얀마 MMK      0.62
54      에티오피아 ETB     24.12
55     우즈베키스탄 UZS      0.12
56       캄보디아 KHR      0.32
57         피지 FJD    598.41